{%extends "base.html"%}

{% block start %}

    <div class="text-center mt-5">
    <h1>About </h1>
    <a href="/recipes/">Back to home</a> | <a href="/contact">Contact</a>
    <p class="p-4">
      Stay updated on the latest job and internship opportunities! Our platform is your go-to source for timely news about career prospects, with regularly updated listings and invaluable insights.
    <br />
     Join our community to receive alerts on the freshest opportunities, empowering you to take the next step in your professional journey. Don't miss out – seize your chance for success today!
    </p>
    </div>


{% endblock %}
  
