{%extends "base.html"%} {% block start %}

<div class="container mt-5">
    <form
    id="add-recipe-form"
    class="col-6 mx-auto card p-3 shadow-lg my-5"
    method="post"
    enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Add Recipe</h2>
    <hr />
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Company <span style="color:red">*</span></label>
      <input
        name="name"
        type="text"
        required
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Location <span style="color:red">*</span></label>
      <input
        name="location"
        type="text"
        required
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Role <span style="color:red">*</span></label>
      <input
        name="role"
        type="text"
        required
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Batch</label>
      <input
        name="batch"
        type="text"
        
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Link <span style="color:red">*</span></label>
      <input
        name="link"
        type="link"
        required
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <textarea
        name="description"
        
        class="form-control"
        id="exampleFormControlTextarea1"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Image</label>
      <input
        name="image"
        type="file"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <button type="submit" class="btn btn-success">Add Recipe</button>
    </form   >

</div>

{% endblock %}
