{%extends "base.html"%} {% block start %}



{% comment %} welcome {% endcomment %}

{% if messages %}
  <div class="alert alert-primary" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
    
    
{% endif %}


<div class="container mt-5">

  <form class="d-flex">
    <a class="btn btn-outline-success " href="#add-recipe-form">
      Add Recipe
    </a>
  </form>

  <div class="container " id="search-recipe">
    
   
      <form class="d-flex pt-4" >
        <input  name ="search" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </div>

  <table class="table table-hover mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">RecipeName</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{recipe.name}}</td>
        <td>{{recipe.description}}</td>
        <td>
          <img src="/media/{{recipe.image}}" style="height:100px "/></td>
          <td>
            <a href="/delete-recipe/{{recipe.id}}" class="btn btn-danger m-2" >Delete</a>
            <a href="/update-recipe/{{recipe.id}}" class="btn btn-success" >Update</a>
            </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<form
id="add-recipe-form"
class="col-6 mx-auto card p-3 shadow-lg my-5"
method="post"
enctype="multipart/form-data">
{% csrf_token %}
<h2>Add Recipe</h2>
<hr />
<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
  <input
    name="name"
    type="text"
    required
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
  />
  {% comment %} <div id="emailHelp" class="form-text">
    We'll never share your email with anyone else.
  </div> {% endcomment %}
</div>
<div class="mb-3">
  <label for="exampleInputPassword1" class="form-label">Description</label>
  <textarea
    name="description"
    required
    class="form-control"
    id="exampleFormControlTextarea1"
  ></textarea>
</div>
<div class="mb-3">
  <label for="exampleInputPassword1" class="form-label">Image</label>
  <input
    name="image"
    type="file"
    class="form-control"
    id="exampleInputPassword1"
  />
</div>
<button type="submit" class="btn btn-success">Add Recipe</button>
</form class="m-4 p-4">
<form class="d-flex m-4 ">
  <a class="btn btn-outline-success " href="#search-recipe">
    Search
  </a>
</form>

{% endblock %}
